. {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-label 
{
color: white;
margin: 0 15px;
}
.row
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(61,61,61);

}
.cal-box
{
padding: 20px 0 0 0;
width: 400px;
background: #292b2c;
box-shadow: 0 0 12px black;
}
.btn-row
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
}
.cBtn
{
border: 1px solid gray;
color: white;
background: #292b2c;
font-size: 16px;
height: 100px;
}
.op
{
    background: #484848;
}
#equal 
{
grid-area: 4/4/6/5 ;
height: 100%;
background: #fc6524;

}
.display{
    width: 100%;
    height: 50px;
    background: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}